/*
    All divs are assumed to a line.
*/

#gcDataContainer {
    width: 90%;
    margin-left: 2%;
}

#gcData {
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 15em;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 12.5px;
    width: 90%;
    margin-left: 2%;
}

#gcData>table {
    width: 100%;
}

.expensiveGc {
    background-color: rgba(212, 36, 65, 0.808);
    color: white;
}

.warnGc {
    background-color: rgb(217, 255, 46);
}

table {
    border-radius: 5px;
}

.tableHeader {
    background-color: rgba(87, 93, 182, 0.808);
}

th {
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
}

tr:hover {
    background-color: lightblue;
}

td {
    text-align: center;
}

.heapChartParent {
    width: 100%;
    height: 600px;
}

.heapChartParentMultiple {
    width: 50%;
    height: 600px;
    display: inline-block;
}

.heapChartNextLine {
    width: 50%;
    height: 600px;
}

#heapCharPadding {
    margin-bottom: 16em;
}

#processCommandLine {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1%;
    color: rgb(75, 65, 161);
    word-break: break-word;
}