/*
    All divs are assumed to a line.
*/

#gcDataContainer {
    width: 85%;
    margin-left: 2%;
}

#gcData {
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 15em;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 12.5px;
    width: 90%;
    margin-left: 2%;
}

table {
    border-radius: 5px;
}

.tableHeader {
    background-color: rgba(87, 93, 182, 0.808);
}

th {
    color: white;
    font-size: 15px;
}

tr:hover {
    background-color: lightblue;
}

td {
    text-align: center;
}

.heapChartParent {
    width: 100%;
    height: 600px;
}

.heapChartParentMultiple {
    width: 50%;
    height: 600px;
    display: inline-block;
}

.heapChartNextLine {
    width: 50%;
    height: 600px;
}

#heapCharPadding {
    margin-bottom: 16em;
}